/* Design tokens */
:root {
  --color-primary: #1c1810;
  --color-secondary: #fff;
  --font-primary: "Fraunces", serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}
